body{
    background-color:  #008f65;
    font-family: sans-serif
}
h1,h2{
    color: white
}
h3{
    color: peru
}
img{
   max-width: 50%;
   max-height: 50%;
}
.inspringing{
    margin-left: 20px;
}
.link {
    font-size: 1.2rem;
}
